<div id="dates">
  <% if !@committees.nil? %>
    <% @committees.each do |committee| %> 
      <% @committee = committee %>
      <hr style="background-color: #777; height: 3px; border:none;">
      <table>
        <h2>
          <%= link_to @committee.date, @committee %> 
          <%= link_to 'Промяна на комисия', edit_committee_path(@committee), data: {no_turbolink: true} %>
        </h2>                                  
        <thead>        
          <tr>
            <th>Свободен</th>
            <th>Име</th>
            <th>Опции</th>
          </tr> 
        </thead>   
        <%= render 'tbody' %>            
      </table>
      <div>
        <%= render 'add_another_commissioner' %> 
      </div>  
      <br />
    <% end %>   
  <% end %>
</div>  