<tbody id="get_teachers_<%=@committee.id%>"> 
  <% @commissioners = Teacher.all %>
  <% @commissioners.each do |c| %>
    <% if !@committee.commissioners.exists?(c.id) %>
      <tr>
        <td>Да</td>
        <td><%= link_to c.name, c, class: "btn btn-default" %></td>    
        <td>
          <%= button_to "Добави", committee_add_commissioner_path({commissioner_id: c.id, committee_id: @committee.id}), remote: true, class: "btn btn-default"  %> 
        </td>   
      </tr> 
    <% end %>
  <% end %>
</tbody>
     