<div id="have_teachers_<%=@committee.id%>" >
  <h4 class="type">Членове</h4>
  <table id="have_teachers" class = "table">                                   
    <thead>        
      <tr>
        <th>Св</th>
        <th>Име</th>
        <th>Опции</th>
      </tr>  
    </thead>   
    <tbody> 
      <% @committee.commissioners.each do |c| %> 
        <tr>
          <td>
            <% if c.commissioner_dates %>
              <%= c.commissioner_dates.include?(@committee.date) ? "Да" : "Не" %>
            <% else %>
                Не
            <% end %> 
          </td>
          <td><%= link_to c.name, c , class: "btn btn-default"%></td>
          <td>
            <%= button_to "Премахни", committee_remove_commissioner_path({commissioner_id: c.id, committee_id: @committee.id}), remote: true, class: "btn btn-default"  %>       
          </td>   
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>     