<h1>Промяна на таг</h1>

<%= render 'form' %>

<button type="button" class="btn btn-default"><%= link_to 'Покажи', @tag %></button.
<button type="button" class="btn btn-default"><%= link_to 'Назад', tags_path %></button>
