<h1>Списък с тагове</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Име</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><button type="button" class="btn btn-default"><%= link_to tag.name, tag %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Промени', edit_tag_path(tag) %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Унищожи', tag, method: :delete, data: { confirm: 'Сигурни ли сте?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-default"><%= link_to 'Нов таг', new_tag_path %></button>
