<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Онлайн системата за дипломиране в ТУЕС</h1>
    <p>
      Използвали сте опцията за забравена парола,  <br/>
      в нашата система. За да въведете нова парола,  <br/>
      моля натиснете този линк:  <br/>
      <%= link_to @activation_url,@activation_url %>  <br/>
      Ако не сте използвали опцията за забравена парола, <br/>
      не обръщайте внимание на този имейл.
    </p>
    <p>
     За да въведете нова парола за профила Ви, <br/>
     просто използвайте този линк: <br/>
     <%= link_to @activation_url,@activation_url %>
    </p>
    <p>Желаем Ви приятен ден!</p>
  </body>
</html>
