<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добре дошли в Онлайн системата за дипломиране в ТУЕС, </h1>
    <p>
      Сега Вие имате създаден акаунт в нашата система, <br/>
      името на Вашия акаунт е: <%= @user.user_name %><br/>
			Линкът за Вашата активация е: <br/>
      <%= link_to @activation_url,@activation_url %> <br/>
			След като отворите линка за активацията, <br/>
      можете да въведете Вашата парола, след което <br/>
      ще можете да влезнете в профила си.
    </p>
    <p>
     За да активирате акаунта в системата, <br/>
     просто използвайте този линк: <br/>
     <%= link_to @activation_url,@activation_url %>
    </p>
    <p>Желаем Ви приятен ден!</p>
  </body>
</html>
