<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to TUES Diplomas, </h1>
    <p>
      Now you have an account in our site, <br/>
      your username is: <%= @user.user_name %><br/>
			your activation link is: <br/>
      <%= @activation_url %> <br/>
			After you click the activation link, you <br/>
      can set your password.
    </p>
    <p>
     To activete your acount in the site, <br/>
     just follow this link: <br/>
     <%= @activation_url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
