body {
	margin: 0px;
	color: #333;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	background: url('/assets/rotate.jpg') center 55px no-repeat;
}

#inscreen {
	width: 960px;
	margin: 80px auto 0 auto;
	padding-top: 300px;
	height: auto;
	min-height: 330px;
}


