<h1>Разглеждане на дипломни работи</h1>

<% @years =  DiplomaWork.all.map(&:year).uniq %>
<% @years = @years.sort{ |a,b| b.to_i <=> a.to_i } %>
<% @years << "Всички" %>
<%= form_tag(diploma_work_set_year_path, remote: true, id: "set_year") do %>
  <strong>Година</strong>
  <%= select_tag "year",  options_for_select(@years, Assemble.find(1).year_for_assembling), onchange: ("$('#set_year').submit()") %>
<% end %>
<% @year = Assemble.find(1).year_for_assembling%>

<table class = "table">
  <thead>
    <tr>
      <th>Заглавие</th>
      <th>Дипломен ръководител</th>
      <th>Година</th>
      <th>Уговорена</th>
      <th>Одобрена</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <%= render 'tbody'%>
</table>

<br>

<%= link_to 'Нова Дипломна работа', new_diploma_work_path, class: "btn btn-default" %>
